<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :num_available %><br />
    <%= f.text_field :num_available %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :categories_list %><br />
    <% @categories.each do |category| %>
      
        <%= check_box_tag("book[categories_list][#{category.id}]", "1", @book.categories.detect{|books_category| books_category == category}) %>
        <%= category.name %><br/>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



